<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759556546667-djfl883co81974tku1faaouceph35f4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759556546667-djfl883co81974tku1faaouceph35f4t</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Hxumu0O4bCtvK-GHr8h_FVL8svb9eag</string>
	<key>GCM_SENDER_ID</key>
	<string>759556546667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whileApp</string>
	<key>PROJECT_ID</key>
	<string>while-2</string>
	<key>STORAGE_BUCKET</key>
	<string>while-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759556546667:ios:1537b221e787ac7ce3912e</string>
</dict>
</plist>