<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922155303059-9ojpmdc0ludn9eqpuvh6hhbvojuk7fcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922155303059-9ojpmdc0ludn9eqpuvh6hhbvojuk7fcj</string>
	<key>API_KEY</key>
	<string>AIzaSyB75WK0vCfHVBu8ggEDrNPybDl1s2w2V0E</string>
	<key>GCM_SENDER_ID</key>
	<string>922155303059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatx</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-b13cf</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-b13cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922155303059:ios:8be0e67978ddeb3f0d0d66</string>
</dict>
</plist>